.container-cart-products {
	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.hidden-cart {
	display: none;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

.info-cart-product p{
  color: black;
}

.info-cart-product span{
  color: black;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}
.titulo-producto-carrito {
	font-size: 10px;
}
.precio-producto-carrito {
	font-weight: 700;
	font-size: 10px;
	margin-left: 10px;
}

.cart-empty {
	padding: 20px;
	text-align: center;
  color: black;
}

.clear-btn{
  cursor: pointer;
  transition: all.3s ease ;
}

.clear-btn:hover{
  transform: scale(1.1);
  border-radius: none;
}

.cart-total h3{
  color: black;

}

.total-pagar{
  color: #0c0c0c;
}


.aside {
  text-decoration: none;
  font-family: sans-serif;
  display: flex;
  width: 20rem;
  min-height: 600px;
}

.aside div {
width: 300px;
}

.logo{
background-image: url(/images/logoblanco.svg) ;

}


form{
display: flex;
justify-content: center;
}

.search{
height: 2rem;
width: 70%;
border: none;
border-radius: 5px 0 0 5px;
}

.btn{
width: 3rem;
border: none;
border-radius: 0 5px 5px 0;
background-color: #4B48D6 ;
color: #ffff;
}

.btn:hover{
background-color: #8280df;
}


.search_bar{
  padding: 1rem 2rem;
  width: 100% !important;
  align-items: baseline;
}

.search_bar > input{
  width: 70%;
  height: 2rem;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.search_bar > button{
  background-color: #4B48D6;
  height: 2rem;
  width: 4rem;
  color: #ffff;
  border: none;
  border-radius: 0px 5px 5px 0px;
  font-family: Inter;
}

.search_bar > button:hover{
  background-color: #8280df;
}

.nav_link {
  color: #ffffff;
  display: block;
  padding: 15px 0px;
  text-decoration: none;
}

.nav_link--inside{
  border-radius: 6px;
  padding-left: 20px;
  text-align: left;
}


.nav_link--inside:hover {
  background: #0c0c0c;

}

.lista {
  color: #ffff;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0px 16px 0px;
  box-shadow: 7px 4px 9px -6px rgba(0,0,0,0.75);
  column-gap: 4rem;
 
  /* top: -100px; */
  left: 0;
  right: 0;
  width: 20rem;
  gap: 2rem;
  background: rgb(3,3,3);
  background: linear-gradient(180deg, rgba(3,3,3,1) 0%, rgba(20,20,20,1) 100%);
}


.aside_item:hover{
  background-color: rgb(44, 44, 44);
}

.aside_title{
  display: flex;
  justify-content: space-between;
}

.aside_item  span  i{
  display: inline-block;
  width: 1.5em;
}

.aside_title .toggle_btn{
  cursor: pointer;
  transition: transform .3s;
}

.aside_title .open .toggle_btn{
  transform: rotate(180deg);
  
}

.aside_content{
  font-size: .9rem;
  padding-top: .5rem;
  height: 0;
  overflow: hidden;
}

.open .aside_content{
  height: auto;
}


li > a{
  text-decoration: none;
  color: #ffff;
 padding: 1rem;
 font-size: 1.2rem;
}

.dropdown{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dropdown_content{  
  overflow: hidden;
  height: 0;
}

.dropdown_contentopen{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top:1rem;
  color: white;
  text-decoration: none;
}

i{
  cursor: pointer;
}


.dropdown_contentopen div:hover{
  transform: scale(1.2);
  cursor: pointer;
}



@media (max-width: 768px){

  .lista {
    display: flex ;
    flex-direction: row;
      justify-content: center;
      flex-direction: column;
      border-radius: 0;
      height: 100px;
      width: 100vw;
  }

  .aside{
    width: 0px;
    min-height: auto;
  }

  

 li {
      display: none;
 }

 .dropdown{
  display: none;
} 

.dropdown_content{
display: none;
}

.dropdown_contentopen{
display: none;
}

  
}


@media (max-width: 375px){

}