.container-cart-products {
	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.hidden-cart {
	display: none;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

.info-cart-product p{
  color: black;
}

.info-cart-product span{
  color: black;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}
.titulo-producto-carrito {
	font-size: 10px;
}
.precio-producto-carrito {
	font-weight: 700;
	font-size: 10px;
	margin-left: 10px;
}

.cart-empty {
	padding: 20px;
	text-align: center;
  color: black;
}

.clear-btn{
  cursor: pointer;
  transition: all.3s ease ;
}

.clear-btn:hover{
  transform: scale(1.1);
  border-radius: none;
}

.cart-total h3{
  color: black;

}

.total-pagar{
  color: #0c0c0c;
}

