.footer{
    background: rgb(3,3,3);
    background: linear-gradient(180deg, rgba(3,3,3,1) 0%, rgba(20,20,20,1) 100%);
    color: white;
    
}

.suscription-container{
    margin-top: 2rem;
    height:20vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.suscription-container > p{
    font-weight: 600;
}


.correo{
    margin-left: 1rem;
}

.correo > input{
    height: 2rem;
    border-radius: 10px 0 0 10px;
    border: none;
}

.correo > button{
    height: 2rem;
    border-radius: 0 10px 10px 0;

}

.copyRight{
    font-size: small;
    text-align: center;
}


@media (max-width: 768px) {
    .suscription-container{
        flex-direction: column;
    }
}