body{
    margin: 0;
    padding: 0;
}


.containerInfo{
    color: white;
    background: rgb(3,3,3);
    background: linear-gradient(180deg, rgba(3,3,3,1) 0%, rgba(20,20,20,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    border-radius: 15px;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.322);
    font-weight: 500;
    justify-content: center;
    height: 400px;
    width: 300px;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    padding: 4px;
}

.containerImage img{
    margin-top: 10px;
   height: 200px;
    width: 200px;
    border-radius: 10px;
    border: none;
    border: 3px solid #4B48D6;
}

.containerDescription {
text-align: center;
}

button{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: #4B48D6;
}

.containerInfo > button{
    padding: 10px;
}

.containerInfo > button:hover{
    transform: scale(1.1);
}

@media (max-width:768px){


    
} 


