.containerButtons{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    padding: 1rem;
    background: rgb(3,3,3);
  background: linear-gradient(180deg, rgba(3,3,3,1) 0%, rgba(20,20,20,1) 100%);
    border: none;
    border-radius: 10px;
    color: white;
    /*margin: 0 auto;*/
    margin-bottom: 1rem;
    overflow: hidden;
    width: 225px;
}



.containerButtons label{
    margin: 0 10px;
    padding: 3px;
    font-size: small;
    text-wrap: nowrap;
    
}

.containerButtons > button{
    background-color: #4B48D6;
    color: white;
   
}

.containerButtons > button:hover{
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.322);
}

