.Proveedoras-contenedor {
    padding: 1rem;
    font-family: sans-serif;
    border-radius: 0px 15px 15px 0;
    height: 90px;
    margin-top: 2rem;
    background-color: #4B48D6;
    
}
.Proveedoras-contenedor > p{
    color: #fff;
}

.Select{
    background-color: #4a48d69a;
}

.Select p{
    color: #fff;
}

input{
    color: black;
}

@media (max-width:768px ) {
    .Proveedoras-contenedor{
    width: 100%;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    }
}