.Proveedoras-contenedor {
    padding: 1rem;
    font-family: sans-serif;
    border-radius: 0px 15px 15px 0;
    height: 90px;
    margin-top: 2rem;

    
}

.Select{
    background-color: #4a48d69a;
}

.Select p{
    color: #fff;
}

input{
    color: black;
}

@media (max-width:768px ) {
    .Proveedoras-contenedor{
width: 100%;
margin-top: 0;
    }
}