*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body{
  background-image: url(../public/images/Banner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 

}

.main{
  display: flex;
  flex-direction: column;
}

.father{
  display: flex;
}

.rightContainer{
 
  width: 100%;

}


img{
  display: block;
  width: 100%;
}

.listaProductos{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  

}

.selector{
 background-color: #4B48D6;
 margin-left: 3rem;
  width: 50%;

}

@media (max-width: 768px) {
  .father{
    display: flex;
    flex-direction: column;
  }

  .selector{
   

   
    margin-left: 0;
    width: 100%;
  
  }


}
/*.pages{
  position: relative;
  width: 300px;
}

.containerFather{
  display: flex;
  flex-direction: column;    
  overflow: hidden;
  align-items: center;
  ;
  width: 80%;
  margin: 0 auto;
  height: 100vh;

}

.containerProducts{
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 3rem;

}



@media (max-width: 768px) {
  .main{
    display: flex;
    flex-direction: column;
  }

  .containerFather{
    flex-wrap: wrap;
  }

  
.containerFather{
  min-height: 20vh;
  height: max-content;
}


.containerProducts{
  min-height: 150vh;
}
  
}

@media (max-width: 425px) {
  .containerFather{
    place-content: center;
  }
}
*/